@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Homenaje);

body {
	padding: 0.5em;
}
nav {
	text-align: right;
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

#landing {
	/*background: url("../image/landing_hangingout.jpg");*/
	/*background-size: cover;
	height: 35em;
	background-color: black;*/
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
#one {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
h1 {
	font-family: 'Bangers', cursive;
	font-size: 70px;
	font-weight: bold;
	text-transform: uppercase;
	color: #292929;
}

ul {
    width: auto;
    background: black;
    padding: 0.5em;
    margin: 0.5em;
    overflow: auto;

}

li {
    width: auto;
    background: #737373;
    display: inline;
    padding: 0.5em;
    margin: 0.5em;
}

li a{
	text-decoration: none;
}
footer {
	text-align: center;
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

